PORT = 8000
MONGODB_URI = mongodb+srv://HARSH:HARSH@123@cluster0.usn2u3t.mongodb.netCESS_TOKEN_SECRET = yourcbsdvcksdiuvskdbvjs
CORS_ORIGIN= *
ACCESS_TOKEN_EXPIRESIN = 1d
REFRESH_TOKEN_SECRET = yourvjsdvkjsdvkjsdvkjsdBKBVDFKBVKBDFKVBKB
REFRESH_TOKEN_EXPIRESIN = 10d